* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: .6fr .3fr .1fr;
}

header {
    background-color:black;
    grid-column: span 3;
    text-align: center;
    color: white;
}

header h1{
    color: hotpink;
    
}

section {
    background-color: green;
    text-align: center;
}

aside {
    background-color: purple;
    text-align: center;
}

main {
    background-color: salmon;
}

footer {
    background-color: sienna;
    grid-column: span 3;
    text-align: center;
}

.board {
    border-radius: 50%;
    height: 200px;
    width: 200px;
    color: white;
    background-color: black;
    border-width:25px
}

#btnPink {
    border-color:hotpink;
}

#btnPink:hover {
    color: hotpink;
}

#btnGreen {
    border-color:limegreen;
}

#btnGreen:hover {
    color: limegreen;
}

#btnBlue {
    border-color:aqua;
}

#btnBlue:hover {
    color: aqua;
}

#btnYellow {
    border-color:yellow;
}

#btnYellow:hover {
    color: yellow;
}

#pink{
    color: hotpink;
}

#green{
    color: limegreen;
}

#blue{
    color: aqua;
}

#yellow{
    color: yellow;
}

aside h4 {
    margin-left: 20px;
}