/*
    Name: Amar Panjwani
    Title: Simon Game (GA SEI Project 1)
    Email: amar.panjwani@gmail.com
    Date: 9/16/21
*/

* {
    box-sizing: border-box;
}

:root {
    font-size:x-large;
}

body {
    margin: 0;
    font-size: 70%;
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-columns: .4fr .4fr .8fr .4fr .4fr;
    grid-template-rows: 2.5fr .3fr;
    text-align: center;
}

header {
    background-color:yellow;
    grid-column: span 1;
    color: white;
}

header h1{
    color:black;
}

header h2{
    color:hotpink;
}

section {
    background-color:hotpink;
    padding:275px 0

}

aside {
    background-color: aqua;
    text-align: center;
    
}

aside ol {
    text-align: center;
}

main {
    background-color: limegreen;
    padding: 0 20px;
    grid-column: span 5;
}

/* footer {
    background-color: limegreen;
    grid-column: span 5;
    
} */

.board {
    border-radius: 50%;
    height: 112px;
    width: 125px;
    color: white;
    background-color: black;
    border-width:25px
}

#btnPink {
    border-color:hotpink;
}

#btnPink:hover {
    color: hotpink;
}

#btnGreen {
    border-color:limegreen;
}

#btnGreen:hover {
    color: limegreen;
}

#btnBlue {
    border-color:aqua;
}

#btnBlue:hover {
    color: aqua;
}

#btnYellow {
    border-color:yellow;
}

#btnYellow:hover {
    color: yellow;
}

#pink{
    color: hotpink;
}

#green{
    color: limegreen;
}

#blue{
    color: aqua;
}

#yellow{
    color: yellow;
}

aside h4 {
    margin-left: 20px;
}

body button {
    width: 90px;
}

.black {
    color: black;
}

@media only screen and (max-width: 768px){
    body {
        width: 100vw;
    }

    #simon {
        color: pink;
    }
}